@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat';
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.header-con {
  display: none;
}

.hero-wrapper {
  background: url("../img/1.jpg");
  background-size: cover;
}

.wrapper {
  padding: 1em;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}

.logo {
  font-weight: bold;
  color: #035755;
  font-size: 1.2em;
  margin-top: 0.5em;
}

.hero-contant {
  margin: 4em 0 2em;
}

p.first {
  font-weight: bold;
  color: #fa5652;
  font-size: 0.85em;
  height: 0.7em;
}

p.se {
  height: 2.9em;
  font-size: 1em;
  line-height: 2em;
  margin-bottom: 4em;
}

h1.fir {
  font-size: 1.7em;
  color: #035755;
}

button.luh {
  background-color: #fb4c47;
  border: none;
  width: 20%;
  color: white;
  font-weight: bold;
  padding: 0.8em 0;
  border-radius: .5em;
  font-size: 0.8em;
  cursor: pointer;
}

p.second {
  font-size: 1em;
  line-height: 2em;
}

button.lm {
  background-color: #FFE5E5;
  border: none;
  width: 95%;
  color: #FA716C;
  font-weight: bold;
  padding: 0.8em 0;
  border-radius: .5em;
  font-size: 1em;
  cursor: pointer;
  margin: 0.7em;
}

.about-us-contant {
  margin: 2em -0.4em 2em;
}

p.fir {
  font-weight: bold;
  color: #fa5652;
  font-size: 1em;
  height: 0.7em;
}

h1.sec {
  color: #035755;
}

span {
  display: none;
}

.center-wrapper {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.center-wrapper-1 {
  text-align: center;
  padding: 1em;
  max-width: 1200px;
  margin: 0 auto;
}

p.f {
  font-weight: bold;
  color: #fa5652;
  font-size: 1em;
}

p.s {
  font-size: 1em;
  line-height: 2em;
}

h1.c {
  color: #035755;
}

img {
  width: 100%;
}

.z1 {
  color: #FA716C;
  font-weight: bold;
  position: relative;
}

.z1:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 8px solid #FACCCC;
  background-color: #FACCCC;
  border-radius: 40%;
  z-index: -1;
  top: -0.5em;
}

.symptoms-contant {
  margin-top: 2.7em;
  margin-bottom: 4em;
}

.c-wrapper {
  text-align: center;
  padding: 1em;
  max-width: 1200px;
  margin: 0 auto;
}

img.m {
  width: 50%;
}

p.x {
  font-weight: bold;
  color: #167C51;
  font-size: 1.6em;
  text-align: center;
}

input[type=text] {
  border: 1px solid black;
  width: 90%;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: .9em;
  margin-top: 0.1em;
  margin-bottom: 2em;
}

button {
  background-color: #FA4C47;
  border: none;
  width: 90%;
  color: white;
  font-weight: bold;
  padding: 1em 0;
  border-radius: .5em;
  font-size: 1.3em;
  cursor: pointer;
}

.navb {
  display: none;
}

.logo_bottom {
  font-weight: bold;
  color: #035755;
  font-size: 1.2em;
}

.abc {
  margin-top: -2em;
}

footer {
  display: none;
}

@media (min-width: 522px) {
  button.luh {
    position: absolute;
    margin-top: -2em;
  }
}

@media (min-width: 717px) {
  .wrapper {
    padding: 1.5em 4em;
  }
  .center-wrapper {
    padding: 1.5em 4em;
  }
  .center-wrapper-1 {
    padding: 1.5em 4em;
  }
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "left right";
    height: 55vh;
    padding-bottom: -7em;
  }
  .about-us-contant {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: right;
    margin-left: 2em;
    text-align: left;
    margin-top: -1em;
  }
  .left {
    background: url("../img/11.jpg");
    background-size: 90%;
    background-repeat: no-repeat;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: left;
    display: unset;
    width: 95%;
    margin-top: 3em;
  }
  body {
    background: #fffdfd;
  }
  .center-wrapper-1 {
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
  }
  button.lm {
    width: 40%;
    padding: 0.8em 0;
    font-size: 0.85em;
    margin-left: -0.3em;
  }
  .symptoms-contant {
    margin-top: 1em;
  }
  .c-wrapper {
    text-align: left;
  }
  .g_con_1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "wear_mask wm_img";
    grid-gap: 2.5em;
  }
  img.m {
    display: none;
  }
  .wm {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: wear_mask;
    margin-left: 3em;
  }
  .wm_img {
    background: url("../img/6.jpg");
    background-size: 80%;
    background-repeat: no-repeat;
    margin-right: 5.6em;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: wm_img;
    background-position: right center;
  }
  .g_con_2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "wyh_img wash_your_hand";
    grid-gap: 2.5em;
  }
  .wyh {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: wash_your_hand;
    margin-right: 5.6em;
  }
  .wyh_img {
    background: url("../img/8.jpg");
    background-size: 80%;
    background-repeat: no-repeat;
    margin-left: 3em;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: wyh_img;
    background-position: left center;
  }
  .g_con_3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "unr unr_img";
    grid-gap: 2.5em;
  }
  .unr {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: unr;
    margin-left: 3em;
  }
  .unr_img {
    background: url("../img/9.jpg");
    background-size: 80%;
    background-repeat: no-repeat;
    margin-right: 5.6em;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: unr_img;
    background-position: right center;
  }
  .g_con_4 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "ac_img ac";
    grid-gap: 2.5em;
  }
  .ac {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: ac;
    margin-right: 5.6em;
  }
  .ac_img {
    background: url("../img/8.jpg");
    background-size: 80%;
    background-repeat: no-repeat;
    margin-left: 3em;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: ac_img;
    background-position: left center;
  }
  p.x {
    margin-top: 3em;
  }
  .v_padding {
    text-align: center;
  }
  input[type=text] {
    border: 0px solid black;
    width: 60%;
    padding: 1em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 1em;
    margin-top: 0.1em;
    margin-bottom: 2em;
  }
  button.w {
    background-color: #FA4C47;
    position: absolute;
    width: 10%;
    color: white;
    font-weight: bold;
    padding: 0.6em 0;
    border-radius: 1em;
    font-size: 0.85em;
    cursor: pointer;
    margin-left: -6em;
    margin-top: 0.5em;
  }
  img.menu {
    display: none;
  }
  .logo {
    font-weight: bold;
    color: #035755;
    font-size: 1.2em;
    margin-top: 0;
  }
  .header-con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-con li a {
    color: #035755;
    padding: 0.6em;
  }
}

@media (min-width: 817px) {
  .hero-wrapper {
    background: none;
    background-color: #fffdfd;
  }
  .hc_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "hc hc_img";
    height: 50vh;
  }
  .hc {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: hc;
  }
  .hc_img {
    background: url("../img/img.jpg");
    background-size: cover;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: hc_img;
    margin-left: 0em;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 450px;
    height: 450px;
  }
  button.luh {
    width: 15%;
    padding: 0.8em 0;
    border-radius: 1em;
    font-size: 0.8em;
    cursor: pointer;
    margin-top: 0.1em;
  }
}
/*# sourceMappingURL=main.css.map */